<div class='row no-margins search-bar'>
  <div class='col-md-3'>
    <%= form_tag(search_path, method: :post, class: 'form-inline search-form') do %>
      <div class="form-group">

        <%= text_field_tag :search, '', class: 'form-control width-200-px', placeholder: 'Enter an email or name...' %>

        <%= submit_tag 'Search', class: 'btn btn-success' %>

      </div>
    <% end %>
  </div>
  <div class='col-md-3 col-md-offset-6'>

    <div class="btn-group" role="group">

      <%= link_to('&larr; Log out'.html_safe, destroy_user_session_path, method: :delete, class: 'btn btn-danger') if user_signed_in? %>
      <%= link_to('Edit user', edit_user_registration_path, class: 'btn btn-primary') if user_signed_in? %>

    </div>

    <p>
      Signed in as <strong><%= current_user.email if user_signed_in? %></strong>
    </p>

  </div>
</div>