<!DOCTYPE html>
<html>
<head>
  <title>ArtsAPI <%= page_title(yield(:title)) %></title>

  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'aa-icon.png' %>

  <%= render 'shared/head' %>
  <%= render 'shared/shiv' %>
</head>
<body>

  <div class="container-fluid">

    <div class='row'>
      <%= render 'shared/header' %>
    </div>

    <div class='row'>
      <%= render 'shared/flashes' %>
    </div>

    <div class='row'>
      <%= yield %>
    </div>

  </div>

</body>
<footer class='no-margins margin-top-100'>

</footer>
</html>
