<!DOCTYPE html>
<html>
<head>
  <title>ArtsAPI <%= page_title(yield(:title)) %></title>

  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'aa-icon.png' %>

  <%= render 'shared/head' %>
  <%= render 'shared/shiv' %>
</head>
<body>

  <div class="container-fluid">

    <%= render 'shared/search' %>

    <div class='row'>
      <%= render 'shared/header' %>
    </div>

    <div class='row'>
      <%= render 'shared/flashes' %>
    </div>

    <div class='row'>
      <%= yield %>
    </div>

  </div>

</body>
<footer class='footer no-margins margin-top-300'>
  <div class='margin-left-30 padding-top-50'>
    <p class='text-left'>
      <% if user_signed_in? %>
        <%= link_to('&larr; Log out'.html_safe, destroy_user_session_path, method: :delete, class: 'dark-background') %> | 
        <%= link_to('Edit user', edit_user_registration_path, class: 'dark-background') %>
        <br>
        Signed in as <strong><%= current_user.email %></strong>
      <% end %>
    </p>
  </div>
  <div class='margin-left-30 margin-top-20'>
    <%# image_tag 'nesta_logo.png', width: 150 %>
    <%= image_tag 'swirrl_logo.png', width: 150, class: 'margin-left-20' %>
    <%= image_tag 'fe_logo.png', width: 150, class: 'margin-left-20' %>
    <%= image_tag 'dundee_logo.png', width: 100, class: 'margin-left-20' %>
    <%= image_tag 'djcad_logo.png', width: 110, class: 'margin-left-20' %>
    <%= image_tag 'funders_logo.png', width: 230 %>
  </div>
</footer>
</html>
